<div class="container">
    <h1>Hero Form</h1>
    {{diagnostic}}
    <form *ngIf="active" (ngSubmit)="onSUbmit()" #heroForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <!-- 不添加name属性会报错 -->
            <input  [(ngModel)]="model.name" name="name" #blockName="ngModel"
                    id="name" type="text" class="form-control" required>
            TODO: remove this: {{model.name}}|{{blockName.className}}
            <div [hidden]="blockName.valid || blockName.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input   [(ngModel)]="model.alterEgo" name="alterEgo"
                    id="alterEgo" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="power">Hero Power</label>
            <select [(ngModel)]="model.power" name="power"
                    id="power"  class="form-control" required>
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
        </div>
        <button [disabled]="!heroForm.form.valid" type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>